<style>
  .mySlides {display:none;}
</style>
<div class="slideshow-container">
  {% for banner in section.blocks %}
    {% if banner.settings.image != blank %}
      <a href="{{ banner.settings.link }}">
        {{ banner.settings.image | image_url: width: 200 | image_tag: class: 'mySlides' }}
      </a>
    {% endif %}
  {% endfor %}
</div>

<script>
       var slideIndex = 1;
  showDivs(slideIndex);

  function plusDivs(n) {
    showDivs(slideIndex += n);
  }

  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    if (n > x.length) {slideIndex = 1}
    if (n < 1) {slideIndex = x.length} ;
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    x[slideIndex-1].style.display = "block";
  }
</script>
