<ul>
  {% for link in linklists.footer.links %}
    <li>
      <a href="{{ link.url }}">{{ link.title }}</a>
    </li>
  {% endfor %}
</ul>
{% schema %}
{
  "name": "Custom Footer",
  "blocks": [
  {
    "type": "slide",
    "name": "Custom Footer",
    "limit": 4,
    "settings": [
      {
        "type": "richtext",
        "id": "Text-Heading",
        "label": "Add Heading"
      },
      {
        "type": "text",
        "id": "footer-text",
        "label": "Footer Text"
      }
    ]
  }
]
}
{% endschema %}
