<div style="">
  <ul>
    {% for linklist in linklists %}
      {% if linklist.handle != 'main-menu' and linklist.handle != 'footer' %}
        <h1 style="color:black">{{ linklists.blogs.title }}</h1>
        {% for link in linklists.blogs.links %}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor -%}
      {% endif %}
    {% endfor %}
  </ul>
  {% if section.settings.footer_logo != blank %}
    {{ section.settings.footer_logo | image_url: width: 300 | image_tag }}
  {% endif %}
</div>
{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Footer Logo"
    }
  ]
}
{% endschema %}
