<div class="wishlist_section">
    <span id="product_wished_id"></span>
    {% for product in collections.all.products %}
            <h2>{{ product.title }}</h2>
    {% endfor %}
</div>
{% assign test = 'templates.search.page' | t %}

{% javascript %}
    var wishlist_productData = [];
    wishlist_productData = JSON.parse(localStorage.getItem('wishlist_product'));
    var proId = wishlist_productData.map((item) => item.proId);
    var qty = wishlist_productData.map((item) => item.addedQty);
    const response = await fetch("https://daee4f081cd53d19ce24a00890604dd4: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@my-first-toestore.myshopify.com/admin/api/2024-04/products.json");
    const product = await response.json();
    console.log(product);
{% endjavascript %}