<script>
var wishlist_productData = [];
wishlist_productData = JSON.parse(localStorage.getItem("wishlist_product"));
var proId = wishlist_productData.map(item => item.proId);
var qty = wishlist_productData.map(item => item.addedQty);
console.log(proId);
console.log(qty);
document.getElementById("product_wished_id").innerHTML = proId;
</script>

<div class="wishlist_section">
<span id="product_wished_id"></span>
<span id="">text</span>
{% for product in collections.all.products %}
{% if product.id == product_wished_id %}
<h2>{{ product.title }}</h2>
{% endif %}
{% endfor %}
</div>