{% stylesheet %}
  /* assets/styles.css */
  .collection-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .product-card {
    background: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    width: calc(33.333% - 20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }

  .product-card:hover {
    transform: scale(1.05);
  }

  .product-card img {
    width: 50%;
    height: auto;
  }

  .product-info {
    padding: 10px 0;
  }

  .product-title {
    font-size: 18px;
    margin: 10px 0;
  }

  .product-price {
    color: #e60023;
    font-weight: bold;
  }
{% endstylesheet %}

<div class="collection-grid" id="product-collection">
</div>

{% javascript %}
  var wishlist_productData = [];
  wishlist_productData = JSON.parse(localStorage.getItem('wishlist_product'));
  var proId = wishlist_productData.map((item) => item.proId);
  var qty = wishlist_productData.map((item) => item.addedQty);
  console.log(proId);
  var data = '';
  for (let index = 0; index < proId.length; index++) {
    fetch(`/products/${proId[index]}.js`)
        .then((response) => response.json())
        .then((product) => {
        console.log(product.title);
        data += '<div class="product-card>'+
                '<div class="product-info">'+
                '<h2 class="product-title" id="product-title">'+product.title+'</h2>'+
                '<p class="product-price" id="product-prices">'+ product.price+'</p>'+
            '</div>'+
        '</div>';
        if (product.images.length > 0) {
            document.getElementById('product-image').src = product.images[0];
        } else {
            document.getElementById('product-image').src = 'default-image-url';
        }
        })
        .catch((error) => {
        console.error('Error fetching product data:', error);
        });
    }
    console.log(data);
{% endjavascript %}
